#about {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  font-size: 1.1em;
  }
  
  .profile {
    max-width: 18em;
  }
  
  .my-details {
    background-color: transparent;
  }
  